<nav-bar></nav-bar>


<!-- Description -->
<p class="lead default-margin text-center">
    Simulador de Entregas <br/> Descubra a melhor solução para si
</p>


<div class="input-form">
    <!-- Number of veichules -->
    <div class="form-outline" style="margin-top: 25px;">
        <input
          type="text"
          id="formTextExample1"
          class="form-control"
          aria-describedby="textExample1"
          placeholder="Número de veiculos"/>
    </div>
    <div id="textExample1" class="form-text">
        Indique a quantida de veiculos que a sua frota tem.
    </div>

    <!-- Veichule cargo -->
    <div class="form-outline" style="margin-top: 25px;">
        <input
          type="text"
          id="formTextExample1"
          class="form-control"
          aria-describedby="textExample1"
          placeholder="Carga máxima por veiculo"/>
    </div>
    <div id="textExample1" class="form-text">
        Indique a capacidade máxima dos seus veiculos
    </div>

    <!-- Number of destinies -->
    <div class="form-outline" style="margin-top: 25px;">
        <input
          type="text"
          id="formTextExample1"
          class="form-control"
          aria-describedby="textExample1"
          placeholder="Número de destinos"/>
    </div>
    <div id="textExample1" class="form-text">
        Indique quantos destinos são abrangidos
    </div>

    <button type="button" class="btn btn-primary" style="margin-top: 25px;">Simular</button>
</div>