<nav-bar></nav-bar>


<!-- Description 
<p class="lead default-margin text-center">
    Simulador de Entregas <br/> Descubra a melhor solução para si
</p>
-->

<div class="map-style">
    <div class="lead default-margin text-center">
        Passo {{ pageNumber }} - {{ pageTitle }} - {{ pageTip }}
    </div>

    <!-- Page 1 - Map -->
    <div [hidden]="pageNumber != 1" class="map-style" id="map"></div>

    <!-- Page 2 - Vehicles -->
    <div *ngIf="pageNumber == 2" class="input-form">
        <form [formGroup]="vehicleForm">

            <!--
            <div class="form-inline" *ngFor="let line of vehicleForm.get('vehicles').controls; let i = index" formArrayName="lines">
                <div class="form-group">
                  <span [formGroupName]="i">
                    <span *ngFor="let field of line.get('vehicles').controls; let j = index" formArrayName="fields">
                        <input type="text" class="form-control" [formControlName]="capacity">
                        Please Type on Input Field
                    </span>
                  </span>
                </div>
              </div>
            -->

            <div formArrayName="vehicles"
                *ngFor="let creds of vehicleForm.controls.vehicles?.value; let i = index; trackBy: trackByFn">
                <ng-container [formGroupName]="i">
                    <h4>
                        <p style="margin: 25px auto 0 auto; text-align: center;">Veiculo {{ i + 1 }}</p>
                    </h4>
                    <!-- Veichule capacity -->
                    <div class="form-outline">
                        <input type="text" id="formTextExample1" class="form-control" aria-describedby="textExample1"
                            formControlName="capacity" placeholder="Carga máxima por veiculo" />
                    </div>
                    <div id="textExample1" class="form-text">
                        Indique a capacidade máxima do veiculo
                    </div>

                    <!-- Veichule cost per distance -->
                    <div class="form-outline" style="margin-top: 25px;">
                        <input type="text" id="formTextExample1" class="form-control" aria-describedby="textExample1"
                            formControlName="costPerDistance" placeholder="Custo por cada 100Km" />
                    </div>
                    <div id="textExample1" class="form-text">
                        Indique o custo médio do veiculo por cada 100km percorridos
                    </div>

                </ng-container>
            </div>
        </form>
    </div>

    <!-- Page 3 - Packages -->
    <div *ngIf="pageNumber == 3" class="input-form">
        <form [formGroup]="packagesForm">
            <div formArrayName="packages"
                *ngFor="let creds of packagesForm.controls.packages?.value; let i = index; trackBy: trackByFn">
                <ng-container [formGroupName]="i">
                    <h4>
                        <p style="margin: 25px auto 0 auto;; text-align: center;">Encomenda {{ i + 1 }}</p>
                    </h4>
                    <!-- Package weight -->
                    <div class="form-outline">
                        <input type="text" id="formTextExample1" class="form-control" aria-describedby="textExample1"
                            formControlName="weight" placeholder="Peso (Kg)" />
                    </div>
                    <div id="textExample1" class="form-text">
                        Indique o peso da encomenda
                    </div>

                    <!-- Package destiny -->
                    <div style="margin: 25px auto 0 auto;" class="form-group">
                        <select formControlName="destiny" class="form-control">
                            <option>Indique o destino</option>
                            <option *ngFor="let client of clients; let j = index" [ngValue]="client">Localização {{ j + 1 }}</option>
                        </select>
                        <div id="textExample1" class="form-text">
                            Indique o destino
                        </div>
                        <!--
                        <div *ngIf="packages.destiny.touched && packages.destiny.invalid" class="alert alert-danger">
                            <div *ngIf="packages.destiny.errors.required">Name is required.</div>
                        </div>
                        -->
                    </div>
                </ng-container>
            </div>
        </form>
    </div>

    <!-- Page 4 - Simulation Resume -->
    <div *ngIf="pageNumber == 4" class="input-form">

        <!-- Locations -->
        <h5>
            <p style="text-align: center">Localizações</p>
        </h5>
        <div *ngFor="let location of selectedCoordinates; let i = index">
            <h6>
                <p style="margin: 25px auto 0 auto;" *ngIf="i == 0">Ármazem</p>
            </h6>
            <h6>
                <p style="margin: 25px auto 0 auto;" *ngIf="i > 0">Cliente {{ i }}</p>
            </h6>
            <p style="margin-bottom: 0 !important;">Lat: {{ location.lat }} : Lng: {{ location.lng }}</p>
        </div>

        <!-- Vehicles -->
        <h5>
            <p style="text-align: center; margin-top: 30px;">Veículos</p>
        </h5>
        <div *ngFor="let vehicle of request.vehicles; let i = index">
            <h6>
                <p style="margin: 25px auto 0 auto;">Veículo {{ i + 1 }}</p>
            </h6>
            <p style="margin-bottom: 0 !important;">Capacidade: {{ vehicle.capacity }}</p>
            <p style="margin-bottom: 0 !important;">Custo por 100Km percorridos: {{ vehicle.costPerDistance }}</p>
        </div>

        <!-- Packages -->
        <h5>
            <p style="text-align: center; margin-top: 30px;">Encomendas</p>
        </h5>
        <div *ngFor="let package of request.orders; let i = index">
            <h6>
                <p style="margin: 25px auto 0 auto;">Encomenda {{ i + 1 }}</p>
            </h6>
            <p style="margin-bottom: 0 !important;">Peso: {{ package.weight }}</p>
            <p style="margin-bottom: 0 !important;">Cliente destino: Lat: {{ package.destiny.lat }} : Lng: {{
                package.destiny.lng }}</p>
        </div>
    </div>

    <!-- Page 5 - Simulation Result -->
    <div *ngIf="pageNumber == 5" class="input-form">
        <div class="div-center">
            <ngx-graph
            class="chart-container"
            [view]="[3000, 3000]"
            [showMiniMap]="false"
            [links]="links"
            [nodes]="nodes"
            >
            <ng-template #nodeTemplate let-node>
                <svg:g class="node">
                  <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height"
                    [attr.fill]="node.data.color" />
                  <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">{{node.label}}
                  </svg:text>
                </svg:g>
            </ng-template>


            <!--
            <ng-template #linkTemplate let-link>
                <svg:g class="edge">
                    
                        <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
                    
                    
                    <svg:text class="edge-label" text-anchor="middle">
                        <textPath
                            class="text-path"
                            [attr.href]="'#' + link.id"
                            [style.dominant-baseline]="link.dominantBaseline"
                            startOffset="50%"
                        >
                        {{link.label}}
                        </textPath>
                    </svg:text>
                </svg:g>
              </ng-template>
              -->

            </ngx-graph>
        </div>
    </div>

    <!-- Page control buttons -->
    <div>
        <button *ngIf="pageNumber > 1" type="button" class="btn btn-primary input-btn" (click)="changePage(true)">
            Voltar
        </button>

        <button *ngIf="pageNumber == 2 || pageNumber == 3" type="button" class="btn btn-primary input-btn"
            (click)="addItem()">
            Adicionar
        </button>

        <button *ngIf="pageNumber < 4" type="button" class="btn btn-primary input-btn"
            style="margin: 25px auto 50px auto; float: right" (click)="changePage(false)">
            Continuar
        </button>

        <button *ngIf="pageNumber == 4" type="button" class="btn btn-primary input-btn"
            style="margin: 25px auto 50px auto; float: right" (click)="simulate()">
            Simular
        </button>

        <button *ngIf="pageNumber == 5" type="button" class="btn btn-primary input-btn"
            style="margin: 25px auto 50px auto; float: right" (click)="simulate()">
            Sair
        </button>
    </div>
</div>