<body>

    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="https://icon-library.com/images/homepage-icon-png/homepage-icon-png-2.jpg">
                    <h3><a style="color:#a8dadc;font-family: Arial, Helvetica, sans-serif" aria-current="page"
                            routerLink="/">Home</a></h3>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="https://image.flaticon.com/icons/png/512/235/235861.png">
                    <h3> <a style="color:#a8dadc;font-family: Arial, Helvetica, sans-serif" routerLink="/simulator-solution">Mapa</a>
                    </h3>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="https://img.icons8.com/emoji/452/delivery-truck.png">
                    <h3><a style="color:#a8dadc;font-family: Arial, Helvetica, sans-serif"
                            routerLink="/simulator">Simulador</a></h3>
                </div>
            </div>

        </div>
    </div>
</body>